<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWJT6ATE7K3WcWP08TN2a3w9vIkwoUCZU</string>
	<key>GCM_SENDER_ID</key>
	<string>388524370985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhikruLindaFlutter</string>
	<key>PROJECT_ID</key>
	<string>dreamtrace-ai-test</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamtrace-ai-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388524370985:ios:1cf7a875e3d64797928038</string>
</dict>
</plist>